<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.3.0/css/bootstrap.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" th:href="@{/css/signin.css}" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin" th:action="@{/boot/login}" method="post">
      <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" th:src="@{/img/bootstrap-solid.svg}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal" th:text="#{Login.tip}">Please sign in</h1>
      <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
      <label for="inputEmail" class="sr-only" th:text="#{Login.Email}">Email address</label>
      <input type="email" id="inputEmail" name="username" class="form-control" placeholder="Email address" th:placeholder="#{Login.Email}" required autofocus>
      <label for="inputPassword" class="sr-only" th:text="#{Login.Password}">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" th:placeholder="#{Login.Password}" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> [[#{Login.Remember}]]
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{Login.btn}">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
      <a class="btn btn-sm" th:href="@{/index.html(l='zh_CN')}">中文</a>
      <a class="btn btn-sm" th:href="@{/index.html(l='en_US')}">English</a>
    </form>
  </body>
</html>
